{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DMEZ | Login</title>
    <link rel="stylesheet" href="{% static 'account/css/form.css' %}" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap"
        rel="stylesheet" />
</head>

<header>
    <div class="head">
        <a href="" class="select" style="color: #588d45">Login</a>
        <a href="" class="select">Register</a>
    </div>
</header>
<!--placeholder="Mobile Number or Email"-->
<main>
    <div class="box1">
        <img src="{% static 'account/img/logo.jpg' %}" width="350" height="350" />
    </div>
 
    <div class="box2">
        <h2>Login</h2>
        <h3>{{ message }}</h3>
        <hr />
        <form action="/login" method="POST">
            {% csrf_token %}
            <div class="input">
                <span>Email or phone number</span>
                <input type="text" name="id" required />
            </div>

            <div class="input">
                <span> Password</span>
                <input type="password" name="password" required />
            </div>

            <a href="">Forget password ?</a>

            <button>Submit</button>

        </form>
    </div>

</main>

<footer></footer>

</html>