{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DMEZ | Register</title>
    <link rel="stylesheet" href="{% static 'account/css/form.css' %}" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap"
        rel="stylesheet" />
</head>
<!-- <body style="
  background: linear-gradient(rgba(255,255,255,.6), rgba(255,255,255,.6)), url('assests/images/logo.jpg') center ;"> -->

<body>
    <header>
        <div class="head">
            <a href="" class="select" style="color: #588d45">Login</a>
            <a href="" class="select">Register</a>
        </div>
    </header>

    <main>
        <div class="box1">
            <img src="{% static 'account/img/logo.jpg' %}" width="350" height="350" />
        </div>

        <div class="box2">
            <h2>Join DMEZ</h2>
            <hr />
            <form>
                <div class="input">
                    <span>Full Name</span>
                    <input type="text" name="name" required />
                </div>
                <div class="input">
                    <span >Mobile Number</span>
                    <input type="number" name="contact" required />
                </div>
                <div class="input">
                    <span>Email</span>
                    <input type="email" name="email" required />
                </div>

                <div class="input">
                    <span>Create Password</span>
                    <input type="password" name="password" required />
                </div>
              <a href="">already a user? Sign In</a>
        
                <button>Sign up</button>
            </form>
        </div>

    </main>

    <footer></footer>
</body>

</html>