/*
Developer- Infuzex Ventures
Date- 21-01-2021
Color code green: #588D45;
color code brown: #5E4316
background-color:#EAFFBA;

*/
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  padding: 2.5%;
  border-bottom: 1px solid #5e4316;
}

.head {
  width: 50%;
  margin: auto;
  text-align: center;
}
.head > .select {
  font-size: 20px;
  margin-right: 2.5%;
  color: #5e4316;
  font-weight: 700;
}

.head > .select:hover {
  color: #588d45;
  border-bottom: 3px solid #588d45;
}

main {
  width: 90%;
  margin: 5%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.box1 {
  width: 95%;
  padding: 2.5%;
  margin: auto;
}
.box1 img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.box2 {
  width: 90%;
  padding: 5%;
  margin: auto;
  border: solid 1px rgba(216, 216, 216, 0.5);
}
.box2 > h2 {
  font-size: 30px;
  color: #5e4316;
  font-weight: 700;
  margin:2.5% 0;
}

.box2 > form {
  width: 100%;
  margin-top:30px;
}
.box2 > form > .input {
  width: 100%;
  font-size: 1rem;
  margin-top:15px;
}

.box2 > form > .input > span {
  display: block;
  margin-bottom: 5px;
  color: #5e4316;
}
.box2 > form > .input > input {
  width: 100%;
  padding: 2.5%;
}
.box2 > form > a {
  display: block;
  margin:25px 0;
  color: #5e4316;
}
.box2 > form > button {
  width: 100%;
  font-size: 20px;
  padding: 10px 25px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: #5e4316;
}

@media only screen and (min-width: 900px) {
  .box1 {
    width: 40%;
  }
  .box2 {
    width: 400px;
    padding: 2.5%;
  }
}
